<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Produits</title>

<link rel="stylesheet"
	type="text/css"
      href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>


<body>

       <div class="container" >
       <p></p>
		<form  th:action="${index}" method="get">
			<label>mot Cle:</label> 
			<input type="text" name="motCle"th:value="${motCle}"/>
			<button class="btn btn-primary">Chercher</button>
			<p></p>
			<h1 class ="container">List des Produits Du magazin</h1>
		</form>
 </div>


	




	<div class="container">
		
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Designation</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Action</th>
				</tr>

			</thead>
			<tbody>
				<tr th:each="p:${listProduits}">
					<td th:text="${p.id}"></td>
					<td th:text="${p.designation}"></td>
					<td th:text="${p.price}"></td>
					<td th:text="${p.quantity}"></td>
					<td><a class="btn btn-danger"
					 th:href="@{delete(id=${p.id},page=${pageCourante},size=${size},motCle=${motCle})}">DELETE</a></td>
					 <td><a class="btn btn-primary" th:href="@{edit(id=${p.id})}" >Edit</a></td>
				</tr>

			</tbody>

		</table>

	</div>
<div class="container">

	<ul class=" nav nav-pills">
	 <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">Previous</span>
      </a>
    </li>
		<li 
		    th:class="${pageCourante}==${status.index}?'active':'' "
			th:each="pa,status:${pages}"><a class="nav-link"
			th:href="@{index(page=${status.index},size=${size}, motCle=${motCle})}"
			th:text="${status.index}">
			
			
			</a>	
		</li>
		<li class="page-item">
      <a class="page-link" th:href="${page}" aria-label="Next">
        <span aria-hidden="true">Next</span>
      </a>
    </li>
	  </ul>
	
</div>


</body>
</html>